ion-card > ion-button {
  margin: var(--spacer-xs);
}

h1 {
  padding: var(--spacer-xs) 10px 0;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: start;
}

.user-profile {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}