/** Spacer variables **/
body {
  --spacer-2xs: 0.25rem; /* 4px */
  --spacer-xs: 0.5rem;   /* 8px */
  --spacer-sm: 1rem;     /* 16px */
  --spacer-base: 1.5rem; /* 24px */
  --spacer-lg: 2rem;     /* 32px */
  --spacer-xl: 2.5rem;   /* 40px */
  --spacer-2xl: 5rem;    /* 80px */
  --spacer-3xl: 10rem;   /* 160px */
}

.list-item {
  --columns-mobile: 2;
  --columns-tablet: 5;
  --columns-desktop: 8;
  --col-calc: var(--columns-mobile);
  --implicit-columns: calc(var(--col-calc) - 1);
  display: grid;
  grid-template-columns: repeat(var(--implicit-columns), 1fr) max-content;
  justify-items: center;
  align-items: center;
}

.list-item > * {
  display: none;
}

.list-item > *:last-child {
  display: unset;
  justify-self: end;
}

.list-item > ion-label {
  text-align: center;
}

.list-item > *:first-child {
  display: unset;
  justify-self: start
}

.settings-button {
  margin: var(--spacer-xs);
}

.settings-heading {
  padding: var(--spacer-xs) 10px 0;
}

.settings-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: start;
}

.user-profile {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

hr {
  border-top: 1px solid var(--ion-color-medium);
}

.toast-message {
  --white-space: pre-wrap !important;
}

@media (min-width: 700px) {
  .list-item {
    --col-calc: var(--columns-tablet);
  }

  .tablet {
    display: unset;
  }
}

@media (min-width: 991px) {
  .list-item {
    --col-calc: var(--columns-desktop);
  }

  .list-item > * {
    display: unset;
  }

  .tablet {
    display: unset;
  }
}
  
.overline {
  font-weight: 500 !important;
  font-size: 10px !important;
  line-height: 16px !important;
  letter-spacing: 1.5px;
  color: #666;
  text-transform: uppercase !important;
 }


ion-thumbnail > img {
  object-fit: contain;
}

@media (prefers-color-scheme: dark) {
  ion-chip > ion-icon {
    color: var(--ion-color-dark);
  }

  .chip-outline {
    border-color: var(--ion-color-dark);
  }

  ion-item {
    --border-color: var(--ion-color-medium)
  }
}